{% extends "base.twig" %}

{% block content %}
        <ul id="contenedor">
            <!-- Mostramos una lista de los artículos-->
			{%for articulo in articulos %}
			<li id="item">
                    <img id="img_producto" src="{{ asset('img') }}/{{articulo.a_imagen}}" />               
                    <a href="{{ path('articulo', {'id':articulo.id})}}"><h2 id ="articuloNombre" >{{articulo.nombre}}</h2></a>
            </li>
			{% endfor %}
        </ul>
		
{% endblock %}	